.favorite {
    width: 400px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    background-color: #f3f3f3;
    border-bottom: 1px solid #ccc;
}

.favorite.type2 {
    background-color: #ff3;
}

.favorite:hover {
    cursor:hand;
    cursor: pointer;
}
